{% extends "layout.html" %}
{% block body_content %}
<h2> Booking Form </h2>
<div class='container-sm' style="width:50%">
    <form method='POST' action=''>
        <!-- provides CRSF protection, alongside secret key. Use on all POST forms -->
        {{ form.csrf_token }}


    <div class="row">
                <div class = "mb-3">
                    <div class="col-md-2">{{ form.email.label (class_="form-label") }}</div>
                    <div class="col-md-10">{{ form.email }}</div>

                </div>
            </div>

            {{ message }}
      </form>
    </div>

{% block footer_content %}
{% endblock %}

{% endblock %}